{% load static %}

<header class="mb-4">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">logo</div>
                <div class="col-md-6">
                    <div class="main-menu">
                        <ul>
                            <li><a href="">خانه</a></li>
                            <li><a href="">فروشگاه</a></li>
                            <li><a href="">محصولات</a>
                                <ul>
                                    <li><a href="">خانه</a></li>
                                    <li><a href="">فروشگاه</a></li>
                                    <li><a href="">محصولات</a></li>
                                    <li><a href="">تماس</a></li>
                                </ul>
                            </li>
                            <li><a href="">تماس</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="top-access">
                        <ul class="text-center">
                            <li class="d-inline-block"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="سبد خرید">
                                <a href="{% url 'cart' %}" class="text-light d-inline-block"><i class="bi bi-bag"></i></a>
                            </li>
                            <li class="d-inline-block"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="حساب کاربری">
                                <a href="#" class="text-light d-inline-block"><i class="bi bi-person"></i></a>
                            </li>
                            <li class="d-inline-block"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="علاقه مندی ها">
                                <a href="#" class="text-light d-inline-block"><i class="bi bi-heart"></i></a>
                            </li>
                            <li class="d-inline-block"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="جستجو">
                                <a href="#" class="text-light d-inline-block"><i class="bi bi-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>