{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section>
        <div class="container">
            <br>
            <br>
            <br>
            <div class="page-body bg-white p-3 rounded">
                <div class="row">
                    <div class="col-md-6">
                        <div class="purchase-table ">
                            <table class="table">
                                <tr>
                                    <td>ردیف</td>
                                    <td>نام محصول</td>
                                    <td>تصویر</td>
                                    <td>تعداد</td>
                                    <td>قیمت کل</td>
                                </tr>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!--@formatter:off-->
                                        <td>{{ item.product.name }}{% if item.weight %} {{ item.weight|intcomma:False }}{% endif %}</td>
                                        <!--@formatter:on-->
                                        <td>
                                            <img src="{{ item.product.default_image.image.url }}"
                                                 alt="{{ item.product.name }}">
                                        </td>
                                        <td>{{ item.quantity|intcomma:False }}</td>
                                        <td>{{ item.total_price|intcomma:False }} تومان</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="purchase-table " >
                             <table class="table">
	                                <thead>
		                                <tr>
			                                <th >محصول</th>
                                            <th > قیمت کل </th>
		                                </tr>
	                                </thead>
                             </table>
                        </div>
                    </div>



<!--	                        <tbody>-->
<!--						        <tr >-->
<!--					                <td >زعفران 4 گرم پاکت&nbsp; <strong >×&nbsp;1</strong>	                                    </td>-->
<!--					                <td ><span class><bdi>5,000,000<span >ریال</span></bdi></span></td>-->
<!--				                </tr>-->
<!--					        </tbody>-->
<!--	                        <tfoot>-->

<!--		                        <tr class>-->
<!--			                        <th> قیمت کل </th>-->
<!--			                        <td><span ><bdi>5,000,000<span >ریال</span></bdi></span></td>-->
<!--                                </tr>-->

<!--			                    <tr >-->
<!--	                                <th>حمل و نقل</th>-->
<!--	                                <td data-title="حمل و نقل">-->
<!--					                    <ul id="shipping_method" class="woocommerce-shipping-methods">-->
<!--									        <li>-->
<!--						                    <input type="hidden" name="shipping_method[0]" data-index="0" id="shipping_method_0_iran_pishtaz_shipping" value="iran_pishtaz_shipping" class="shipping_method"><label for="shipping_method_0_iran_pishtaz_shipping">پست پیشتاز: <span class="woocommerce-Price-amount amount"><bdi>377,000<span class="woocommerce-Price-currencySymbol">ریال</span></bdi></span></label>-->
<!--                                            </li>-->
<!--							            </ul>-->
<!--			                        </td>-->
<!--                                </tr>-->

<!--		                        <tr >-->
<!--			                        <th>مجموع</th>-->
<!--			                        <td><strong><span ><bdi>5,377,000<span class>ریال</span></bdi></span></strong>-->
<!--                                    </td>-->
<!--		                        </tr>-->
<!--	                        </tfoot>-->
<!--                        </table>-->
<!--                    </div>-->
                    <div class="col-md-6">
                        <span class="d-block my-3">اطلاعات تحویل مرسوله</span>
                        <div class="purchase-address-profile-content p-3 mt-3 border rounded">
                            <div id="address_display">
                                <h5 class="m-3 p-2 border-bottom">آدرس</h5>
                                <div class="p-3 mt-3 border rounded">
                                    <table class="table text-center">
                                        <tr>
                                            <td>استان</td>
                                            <td>شهر</td>
                                            <td>کد پستی</td>
                                            <td>شماره تلفن</td>
                                            <td>آدرس</td>
                                        </tr>
                                        <tr>
                                            <td>{{ order.district }}</td>
                                            <td>{{ order.city }}</td>
                                            <td>{{ order.postal_code }}</td>
                                            <td>{{ order.delivery_phone_number }}</td>
                                            <td>{{ order.address }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <h5 class="m-3 p-2 border-bottom heading">قیمت کل</h5>
                        {{ order.additional_info }}
                        <div style="font-size: 1.5em; margin-right: 10px;">
                            {{ order.total_price|intcomma:False }}تومان
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
