{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load shop_tags %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <aside>
                        <div class="blog-sidebar bg-white p-3">
                            <span class="title border-bottom position-relative d-block pb-3 mb-3">دسته بندی</span>
                            <ul>
                                {% for category in categories %}
                                    <li><a class="is-nav-selected"
                                           href="?page={{ products.number }}&cat={{ category.id }}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="search-blog mt-5">
                                <form class="global-form" action="">
                                    <input type="text" placeholder="جستجوی محصول..." class="m-0">
                                    <button><i class="bi bi-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar bg-white p-3">
                        <span class="title border-bottom position-relative d-block pb-3 mb-3">
                            فیلتر بر اساس نوع
                        </span>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    زعفران
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    تنقلات
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    هل
                                </label>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="bg-white p-3 rounded">
                        <div class="row">
                            {% for product in products %}
                                <div class="col-md-4">
                                    {% product_card_widget product user request 'remove_div' %}
                                </div>
                            {% endfor %}
                            <div class="col-12">
                                <div class="pagination-box my-3">
                                    {% for i in products.paginator.page_range %}
                                        <{% if i == products.number %}span{% else %}a{% endif %}
                                                {% if i == products.number %}
                                                    class="current"
                                                {% else %}
                                                    href="?page=
                                                            {{ i }}{% if category %}&cat={{ category.id }}{% endif %}"
                                                {% endif %}>
                                            {{ i }}
                                        </{% if i == products.number %}span{% else %}a{% endif %}>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}