{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load shop_tags %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-4">
                    <aside>
                        <div class="blog-sidebar bg-white p-3">
                            <span class="title border-bottom position-relative d-block pb-3 mb-3">دسته بندی</span>
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <!--@formatter:off-->
                                        <a class="is-nav-selected"
                                           href="?cat={{ category.id }}{% for key, value in last_query.items %}{% if not key == "cat" and not key == "ptype" %}&{{ key }}={{ value }}{% elif key == "ptype" %}{% for val in value %}&{{ key }}={{ val }}{% endfor %}{% endif %}{% endfor %}">{{ category.name }}</a>
                                        <!--@formatter:on-->
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="search-blog mt-5">
                                <form class="global-form" action="{{ request.path }}">
                                    <input type="text" name="search" value="{{ last_query.search }}"
                                           placeholder="جستجوی محصول..." class="m-0">
                                    {% for key, value in last_query.items %}
                                        {% if not key == "search" and not key == "ptype" %}
                                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                                        {% elif key == "ptype" %}
                                            {% for val in value %}
                                                <input type="hidden" name="{{ key }}" value="{{ val }}">
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar bg-white p-3">
                        <span class="title border-bottom position-relative d-block pb-3 mb-3">
                            فیلتر بر اساس نوع
                        </span>
                            <form class="global-form" action="{{ request.path }}">
                                {% for ptype in ptypes %}
                                    <!--@formatter:off-->
                                    <input class="form-check-input" type="checkbox" name="ptype"
                                           value="{{ ptype.name }}"
                                           id="flexCheckDefault"
                                            {% for key, list in last_query.items %}
                                                {% if ptype.name in list %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}>
                                        <!--@formatter:off-->

                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ ptype.name }}
                                    </label>
                                    <br>
                                {% endfor %}
                                {% for key, value in last_query.items %}
                                    {% if not key == "ptype" %}
                                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                                    {% endif %}
                                {% endfor %}
                                <button type="submit">اعمال</button>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8">
                    {% if search %}
                        <p>نتایج برای "{{ search }}"</p>
                    {% endif %}
                    {% if category %}
                        <p>دسته بندی {{ category }}</p>
                    {% endif %}
                    <div class="bg-white p-3 rounded">
                        <div class="row">
                            {% for product in products %}
                                <div class="col-md-4">
                                    {% product_card_widget product user request 'remove_div' %}
                                </div>
                            {% endfor %}
                            <div class="col-12">
                                <div class="pagination-box my-3">
                                    {% for i in products.paginator.page_range %}
                                        <!--@formatter:off-->

                                        <{% if i == products.number %}span{% else %}a{% endif %}
                                                {% if i == products.number %}
                                                    class="current"
                                                {% else %}
                                                    href="?page={{ i }}{% for key, value in last_query.items %}{% if not key == "page" and not key == "ptype" %}&{{ key }}={{ value }}{% elif key == "ptype" %}{% for val in value %}&{{ key }}={{ val }}{% endfor %}{% endif %}{% endfor %}"
                                                {% endif %}>
                                        {{ i }}
                                        </{% if i == products.number %}span{% else %}a{% endif %}>
                                        <!--@formatter:on-->
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}