{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <section>
        <div class="container">
            <br>
            <br>
            <br>

            <div class="page-body bg-white p-3 rounded">
                <div class="row">
                    <div class="col-md-12">

                        {% if items %}
                            <div class="purchase-table ">
                                <table class="table">
                                    <tr>
                                        <td>ردیف</td>
                                        <td>نام محصول</td>
                                        <td>تصویر</td>
                                        <td>قیمت واحد</td>
                                        <td>تعداد</td>
                                        <td>قیمت کل</td>
                                        <td>عملیات</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.product.name }}{% if item.weight %}
                                                {{ item.weight|intcomma:False }}{% endif %}</td>
                                            <td>
                                                <img src="{{ item.product.default_image.image.url }}"
                                                     alt="{{ item.product.name }}">
                                            </td>
                                            <td>{{ item.sell_price|intcomma:False }} تومان</td>
                                            <td>{{ item.quantity|intcomma:False }}</td>
                                            <td>{{ item.total_price|intcomma:False }} تومان</td>
                                            <td>
                                                {#                                                <a href="#" id="delete-cart-item" class="text-danger"><i#}
                                                {#                                                        class="bi bi-trash"></i></a>#}
                                                <form action="{% url 'remove_cart_item' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                                    <button class="btn btn-outline-danger bi-trash"></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                {#                                <div class="cart-off my-3">#}
                                {#                                    <form action="">#}
                                {#                                        <div class="row">#}
                                {#                                            <div class="col-sm-8">#}
                                {#                                                <input type="text" placeholder="اگر کد تخفیف دارید وارد کنید...">#}
                                {#                                            </div>#}
                                {#                                            <div class="col-sm-4">#}
                                {#                                                <button>اعمال تخفیف</button>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </form>#}
                                {#                                </div>#}
                                <table class="table">
                                    <tr>
                                        <td colspan="2">مجموع سبد</td>
                                    </tr>
                                    <tr>
                                        <td>{{ items.count }} محصول</td>
                                        {#                                        <td>0% تخفیف</td>#}
                                        <td>مجموع : {{ sub_total|intcomma:False }} تومان</td>
                                    </tr>
                                </table>
                                <div class="row justify-content-end">
                                    <div class="col-4">
                                        <form class="global-form" action="{% url 'new_order' %}" method="get">
                                            <button type="submit">ادامه جهت تصویه حساب</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                سبد خرید شما خالی است
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}