{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load mathfilters %}
{% load shop_tags %}
{% block content %}
    <section class="index-services mb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="item text-center">
                        <span class="d-block w-100">
                            <i class="bi bi-chat-left-text"></i>
                            <span class="title d-block w-100 py-2 mb-3">پشتیبانی 24 ساعته</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at deserunt dolorum ducimus error</p>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="item text-center">
                        <span class="d-block w-100">
                            <i class="bi bi-shield-check"></i>
                            <span class="title d-block w-100 py-2 mb-3">ضمانت بارگشت وجه</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at deserunt dolorum ducimus error</p>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="item text-center">
                    <span class="d-block w-100">
                    <i class="bi bi-geo-alt"></i>
                    <span class="title d-block w-100 py-2 mb-3">تحویل فوری</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at deserunt dolorum ducimus error</p>
                </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="item text-center">
                    <span class="d-block w-100">
                    <i class="bi bi-patch-check"></i>
                    <span class="title d-block w-100 py-2 mb-3">گارانتی محصول</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at deserunt dolorum ducimus error</p>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="index-products mb-5">
        <div class="container-fluid">

            <ul class="nav nav-pills mb-2 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="pills-home" aria-selected="true">جدیدترین ها
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile"
                            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">پرفروش ها
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact"
                            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">پربازدید ها
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        {% for product in products_by_date %}
                            {% product_card_widget product user request %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        {% for product in products_by_sold %}
                            {% product_card_widget product user request %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row">
                        {% for product in products_by_views %}
                            {% product_card_widget product user request %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#                                                                                    Product Offer               #}
    <section class="product-view">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="offer-box bg-white p-5">
                        <div class="timer-box timer d-flex justify-content-center"
                             data-seconds-left="{{ offer_seconds_remaining }}">
                        </div>
                        <div class="slider-item owl-carousel owl-theme">
                            {% for product in offered_products %}
                                {% product_card_widget product user request 'remove_div' %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="text-item bg-white rounded p-5">
                        <h3 class="p-0 my-3">محصول ویژه هفته</h3>
                        <h5 class="p-0 pb-3 my-2 position-relative">بسته 100 گرمی هل</h5>
                        <p class="my-3">{{ product.description }}</p>
                        <div class="text-end">
                            <a href="#" class="d-inline-block py-2 px-4 text-light bg-info rounded mt-2">
                                اطلاعات بیشتر
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    <section class="d-inline-block w-100 my-3">#}
    {#        <div class="container-fluid">#}
    {#            <div class="row">#}
    {#                <div class="col-12">#}
    {#                    <div class="site-title-box">#}
    {#                        <span class="d-block">زعفران درجه یک</span>#}
    {#                        <span class="d-block ps-3">#}
    {#                        <a href="#">مشاهده همه&nbsp;<i class="bi bi-arrow-left"></i></a>#}
    {#                    </span>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-12">#}
    {#                    <div class="cat-slider-item owl-carousel owl-theme">#}
    {#                        <div class="product-item p-3 bg-white rounded my-3">#}
    {#                            <a href="#">#}
    {#                                <figure class="w-100 position-relative overflow-hidden border-bottom">#}
    {#                                    <img src="{% static 'img/saffron.png' %}" alt="" class="d-table mx-auto">#}
    {#                                    <figcaption class="position-absolute w-100 h-100 text-center">#}
    {#                                        <ul class="p-0">#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="مشاهده محصول"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-eye"></i></a></li>#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="افزودن به علاقه مندی"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-heart"></i></a></li>#}
    {#                                        </ul>#}
    {#                                    </figcaption>#}
    {#                                </figure>#}
    {#                            </a>#}
    {#                            <a href="#">#}
    {#                                <h5 class="m-0 py-2 text-center overflow-hidden">محصول تست شماره 28</h5>#}
    {#                            </a>#}
    {#                            <p class="text-center overflow-hidden mt-2">Lorem ipsum dolor sit amet, consectetur#}
    {#                                adipisicing#}
    {#                                elit. Adipisci beatae blanditiis consectetur cupiditate dolorem, eaque error et eum#}
    {#                                exercitationem, ipsum laborum nam nemo placeat quidem rem repudiandae soluta vel#}
    {#                                voluptates!</p>#}
    {#                            <div class="product-rate text-center mb-2">#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-dark"></i>#}
    {#                            </div>#}
    {#                            <div class="product-price d-flex">#}
    {#                                <span class="d-inline-block w-100 text-start">2.000.000 تومان</span>#}
    {#                                <del class="d-inline-block w-100 text-end">2.540.000 تومان</del>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="product-item p-3 bg-white rounded my-3">#}
    {#                            <a href="#">#}
    {#                                <figure class="w-100 position-relative overflow-hidden border-bottom">#}
    {#                                    <img src="{% static 'img/saffron.png' %}" alt="" class="d-table mx-auto">#}
    {#                                    <figcaption class="position-absolute w-100 h-100 text-center">#}
    {#                                        <ul class="p-0">#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="مشاهده محصول"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-eye"></i></a></li>#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="افزودن به علاقه مندی"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-heart"></i></a></li>#}
    {#                                        </ul>#}
    {#                                    </figcaption>#}
    {#                                </figure>#}
    {#                            </a>#}
    {#                            <a href="#">#}
    {#                                <h5 class="m-0 py-2 text-center overflow-hidden">محصول تست شماره 29</h5>#}
    {#                            </a>#}
    {#                            <p class="text-center overflow-hidden mt-2">Lorem ipsum dolor sit amet, consectetur#}
    {#                                adipisicing#}
    {#                                elit. Adipisci beatae blanditiis consectetur cupiditate dolorem, eaque error et eum#}
    {#                                exercitationem, ipsum laborum nam nemo placeat quidem rem repudiandae soluta vel#}
    {#                                voluptates!</p>#}
    {#                            <div class="product-rate text-center mb-2">#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-dark"></i>#}
    {#                            </div>#}
    {#                            <div class="product-price d-flex">#}
    {#                                <span class="d-inline-block w-100 text-start">2.000.000 تومان</span>#}
    {#                                <del class="d-inline-block w-100 text-end">2.540.000 تومان</del>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="product-item p-3 bg-white rounded my-3">#}
    {#                            <a href="#">#}
    {#                                <figure class="w-100 position-relative overflow-hidden border-bottom">#}
    {#                                    <img src="{% static 'img/saffron.png' %}" alt="" class="d-table mx-auto">#}
    {#                                    <figcaption class="position-absolute w-100 h-100 text-center">#}
    {#                                        <ul class="p-0">#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="مشاهده محصول"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-eye"></i></a></li>#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="افزودن به علاقه مندی"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-heart"></i></a></li>#}
    {#                                        </ul>#}
    {#                                    </figcaption>#}
    {#                                </figure>#}
    {#                            </a>#}
    {#                            <a href="#">#}
    {#                                <h5 class="m-0 py-2 text-center overflow-hidden">محصول تست شماره 30</h5>#}
    {#                            </a>#}
    {#                            <p class="text-center overflow-hidden mt-2">Lorem ipsum dolor sit amet, consectetur#}
    {#                                adipisicing#}
    {#                                elit. Adipisci beatae blanditiis consectetur cupiditate dolorem, eaque error et eum#}
    {#                                exercitationem, ipsum laborum nam nemo placeat quidem rem repudiandae soluta vel#}
    {#                                voluptates!</p>#}
    {#                            <div class="product-rate text-center mb-2">#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-dark"></i>#}
    {#                            </div>#}
    {#                            <div class="product-price d-flex">#}
    {#                                <span class="d-inline-block w-100 text-start">2.000.000 تومان</span>#}
    {#                                <del class="d-inline-block w-100 text-end">2.540.000 تومان</del>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock content %}