{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load shop_tags %}

{% block content %}
    <section>
        <div class="container">
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product-img bg-white p-3 rounded">
                            <figure class="border-bottom mb-0">
                                <img src="{{ product.default_image.image.url }}" alt="image" class="d-table mx-auto">
                            </figure>
                            <div class="product-gallery owl-carousel owl-theme pt-3">
                                {% for product_image in product_images %}
                                    <div class="item">
                                        <a href="#" data-fancybox="gallery">
                                            <figure class="position-relative p-1">
                                                <img src="{{ product_image.image.url }}" alt="image"
                                                     class="d-table mx-auto">
                                                <figcaption class="position-absolute rounded w-100 h-100 text-center">
                                                    <i class="bi bi-zoom-in"></i>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-6 bg-white rounded">
                        <div class="product-detail p-3">
                            <h1 class="pb-4 pt-3 m-0">{{ product.name }}</h1>
                            <div class="product-rating mb-3">
                                {% with product.star as stars %}
                                    {% with remaining=5|sub:stars %}
                                        {% for _ in ''|center:remaining %}
                                            <i class="bi bi-star text-dark"></i>
                                        {% endfor %}
                                    {% endwith %}
                                    {% for _ in ''|center:stars %}
                                        <i class="bi bi-star text-warning"></i>
                                    {% endfor %}
                                {% endwith %}
                                <span>12 دیدگاه ثبت شده</span>
                            </div>
                            <div class="product-price mb-3">
                                {% if product.is_on_sale %}
                                    <span>{{ product.sale_price|intcomma }} تومان</span>
                                    <del>{{ product.price|intcomma }} تومان</del>
                                {% else %}
                                    <p>{{ product.price|intcomma }} تومان</p>
                                {% endif %}
                            </div>
                            <div class="add-to-cart d-inline-block bg-white mb-3 p-4">
                                <form action="{% url 'product' product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" min="1" value="1" class="rounded">
                                    <input type="submit" class="rounded" value="افزودن به سبد خرید">
                                </form>
                            </div>
                            <span>تعداد در سبد: {{ in_cart }}</span>
                            <div class="add-to-wish mb-3">
                                {#                                <form class="link-offset-3-hover link-danger"#}
                                {#                                      action="#" method="get">#}
                                {#                                    {% with user|is_favourite:product as is_favourite %}#}
                                {#                                        <input type="hidden"#}
                                {#                                               name="{% if is_favourite %}remove_favourite{% else %}add_favourite{% endif %}"#}
                                {#                                               value=" ">#}
                                {#                                        <button type="submit"#}
                                {#                                                class="btn {% if is_favourite %}bi-heart-fill{% else %}bi-heart{% endif %}">#}
                                {#                                            {% if is_favourite %}#}
                                {#                                                حذف کردن از علاقه‌مندی#}
                                {#                                            {% else %}#}
                                {#                                                افزودن به علاقه‌مندی#}
                                {#                                            {% endif %}#}
                                {#                                        </button>#}
                                {#                                    {% endwith %}#}
                                {#                                </form>#}
                                {#                                <iframe name="hiddenFrame" style="display: none;"></iframe>#}
                                {% with user|is_favourite:product as is_favourite %}
                                    <a href="{% url 'toggle_wishlist' is_favourite product.id request.resolver_match.url_name %}"
                                       class="d-inline-block rounded link-danger">
                                        <i class="bi {% if is_favourite %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                                        {% if is_favourite %}حذف کردن از علاقه‌مندی{% else %}افزودن به علاقه‌مندی{% endif %}
                                    </a>
                                {% endwith %}
                            </div>
                            <div class="cat-sku">
                                <span class="d-inline-block pe-4">دسته: {{ category.name }}</span>
                                <span>شناسه محصول: {{ product.id }}</span>
                            </div>
                            <div class="product-excerpt mt-3 border-top pt-3">
                                <p class="bi bi-info-circle">
                                    درخواست مرجوع کردن کالا با دلیل "انصراف از خرید" تنها در صورتی قابل تایید است که
                                    کالا در شرایط اولیه باشد (در صورت پلمپ بودن، کالا نباید باز شده باشد).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="global-form product-review-form bg-white rounded p-3 mt-3">
                            <form action="{% url 'product_review' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="set-rate d-flex rounded">
                                    <span class="d-inline-block pe-3">امتیاز شما</span>
                                    <div class="box-rate w-100 text-end">
                                        <input type="radio" id="5" value="5" name="rate">
                                        <label for="5"></label>
                                        <input type="radio" id="4" value="4" name="rate">
                                        <label for="4"></label>
                                        <input type="radio" id="3" value="3" name="rate">
                                        <label for="3"></label>
                                        <input type="radio" id="2" value="2" name="rate">
                                        <label for="2"></label>
                                        <input type="radio" id="1" value="1" name="rate">
                                        <label for="1"></label>
                                    </div>
                                </div>
                                <textarea class="rounded" name="content" placeholder="نظر شما ..."></textarea>
                                <button type="submit" class="rounded">ارسال دیدگاه</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6 p-0">
                        <div class="product-content bg-white p-3 mt-3 rounded">
                            <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-home"
                                            type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                        توضیحات
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-profile"
                                            type="button" role="tab" aria-controls="pills-profile"
                                            aria-selected="false">جزئیات
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-contact"
                                            type="button" role="tab" aria-controls="pills-contact"
                                            aria-selected="false">نظرات
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active p-3" id="pills-home" role="tabpanel"
                                     aria-labelledby="pills-home-tab">
                                    {{ product.description|safe }}
                                </div>
                                <div class="tab-pane fade p-3" id="pills-profile" role="tabpanel"
                                     aria-labelledby="pills-profile-tab">
                                    <table class="table mt-2">
                                        {% for property in product_properties %}
                                            <tr>
                                                <td>{{ property.title }}</td>
                                                <td>{{ property.details }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="tab-pane fade p-3" id="pills-contact" role="tabpanel"
                                     aria-labelledby="pills-contact-tab">
                                    {% for review in reviews %}
                                        <div class="review-item-box border-bottom mb-3 mt-3">
                                            <div class="review-parent pb-3">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="review-avatar">
                                                            <img src="{% static 'img/default_pfp.png' %}" alt="avatar">
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <span class="d-inline-block pe-5">{{ review.author.full_name }}</span>
                                                        <span class="d-inline-block pe-5">
                                                            {% if review.rating %}
                                                                {% with review.rating as stars %}
                                                                    {% with remaining=5|sub:stars %}
                                                                        {% for _ in ''|center:remaining %}
                                                                            <i class="bi bi-star text-dark"></i>
                                                                        {% endfor %}
                                                                    {% endwith %}
                                                                    {% for _ in ''|center:stars %}
                                                                        <i class="bi bi-star text-warning"></i>
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            {% endif %}
                                                        </span>
                                                        <p>{{ review.content }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% review_reply_widget review %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    TODO: related products #}
    {#    <section class="d-inline-block w-100">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-12">#}
    {#                    <div class="site-title-box">#}
    {#                        <span class="d-block">محصولات مرتبط</span>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-12">#}
    {#                    <div class="cat-slider-item owl-carousel owl-theme">#}
    {#                        <div class="product-item p-3 bg-white rounded my-3">#}
    {#                            <a href="#">#}
    {#                                <figure class="w-100 position-relative overflow-hidden border-bottom">#}
    {#                                    <img src="" alt="" class="d-table mx-auto">#}
    {#                                    <figcaption class="position-absolute w-100 h-100 text-center">#}
    {#                                        <ul class="p-0">#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="مشاهده محصول"><a href="#" class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-eye"></i></a></li>#}
    {#                                            <li class="d-inline-block"#}
    {#                                                data-bs-toggle="tooltip"#}
    {#                                                data-bs-placement="top"#}
    {#                                                title="افزودن به علاقه مندی"><a href="#"#}
    {#                                                                                class="d-inline-block rounded"><i#}
    {#                                                    class="bi bi-heart"></i></a></li>#}
    {#                                        </ul>#}
    {#                                    </figcaption>#}
    {#                                </figure>#}
    {#                            </a>#}
    {#                            <a href="#">#}
    {#                                <h5 class="m-0 py-2 text-center overflow-hidden">محصول تست شماره یک</h5>#}
    {#                            </a>#}
    {#                            <p class="text-center overflow-hidden mt-2">Lorem ipsum dolor sit amet, consectetur#}
    {#                                adipisicing elit. Adipisci beatae blanditiis consectetur cupiditate dolorem, eaque#}
    {#                                error#}
    {#                                et eum exercitationem, ipsum laborum nam nemo placeat quidem rem repudiandae soluta#}
    {#                                vel#}
    {#                                voluptates!</p>#}
    {#                            <div class="product-rate text-center mb-2">#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-warning"></i>#}
    {#                                <i class="bi bi-star text-dark"></i>#}
    {#                            </div>#}
    {#                            <div class="product-price d-flex">#}
    {#                                <span class="d-inline-block w-100 text-start">2.000.000 تومان</span>#}
    {#                                <del class="d-inline-block w-100 text-end">2.540.000 تومان</del>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

{% endblock content %}