{% load humanize %}
{% load static %}
{% load mathfilters %}
{% load shop_tags %}
{% if not remove_div %}
    <div class="col-lg-3 col-md-4 col-sm-4">
{% endif %}
<!-- Product actions-->
<div class="product-item p-3 bg-white rounded my-3">
    <a id="product{{ product.id }}" href="{% url 'product' product.slug %}">
        <figure class="w-100 position-relative overflow-hidden border-bottom">
            <!-- Product image-->
            <img src="{{ product.default_image.image.url }}" alt="" class="d-table mx-auto">
            <!-- Product details-->
            <figcaption class="position-absolute w-100 h-100 text-center">
                <ul class="p-0">
                    {% if product.is_available %}
                        <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="افزودن به سبد خرید">
                            <a href="{% url 'add_cart' %}?quantity=1&id={{ product.id }}"
                               class="d-inline-block rounded">
                                <i class="bi bi-cart4">{{ number_in_cart }}</i>
                            </a>
                        </li>
                    {% endif %}
                    {% with user|is_favourite:product as is_favourite %}
                        <li class="d-inline-block"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="{% if is_favourite %}حذف کردن از علاقه‌مندی{% else %}افزودن به علاقه‌مندی{% endif %}">

                            <a href="{% url 'toggle_wishlist' is_favourite product.id %}"
                               class="d-inline-block rounded">
                                <i class="bi {% if is_favourite %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                            </a>
                        </li>
                    {% endwith %}
                </ul>
            </figcaption>
        </figure>
    </a>
    <!-- Product name-->
    <a href="{% url 'product' product.slug %}">
        <h5 class="m-0 py-2 text-center overflow-hidden">{{ product.name }}</h5>
    </a>
    <div id="addToCartForm" class="add-to-cart d-inline-block bg-white mb-3 p-4">
                                    <form action="{% url 'add_cart' %}" method="get">
                                        <span>تعداد : </span>

                                        <input type="number" name="quantity" min="1" value="1" class="rounded">
                                        <input type="hidden" name="id" value="{{ product.id }}">
                                        {% if weights %}
                                            <input type="hidden" id="weight" name="weight" value="">
                                        {% endif %}
                                        <input type="submit" class="rounded" value="افزودن به سبد خرید">
                                        {% if weights %}
                                            <select id="weightChoice" class="d-block" required
                                                    style="width: 100%;background-color: #f8f8f8;border: 1px solid #efefef; border-radius: 4px;padding: 0 8px;margin: 5px 0;outline: 0;">
                                                <option value="" disabled selected hidden>لطفا وزن را انتخاب کنید
                                                </option>
                                                {% for weight in weights %}
                                                    <option value="{{ forloop.counter }}">{{ weight }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </form>
                                    <script>
                                        document.getElementById('weightChoice').addEventListener('change', function () {
                                            // Option 1: Set the text as the value of a hidden input
                                            document.getElementById('weight').value =
                                                this.options[this.selectedIndex].text;
                                        });
                                    </script>

                                </div>

                                <!---<span>تعداد در سبد: {{ in_cart }} از {{ product.max_in_cart }}</span>-->
    <a class="d-block bg-success text-center center-block text-white m-auto " href=" {% url 'cart' %}">
        <h5 style="color:#FFF" >رفتن سبد خرید</h5>
    </a>
    <form class="global-form" action="{% url 'cart' %}" method="get">
<!--                                        <a  href=" {% url 'profile_purchase_history' %}">-->
        <button class="btn  btn-success " type="submit">رفتن سبد خرید</button>
<!--                                            <h6 style="color:#FFF" >رفتن به لیست سفارشات قبلی</h6>-->
<!--                                        </a>-->
    </form>
    <p class="text-center overflow-hidden mt-2">{{ product.display_description }}</p>
    <div class="product-rate text-center mb-2">
        {% with product.rating as stars %}
            {% with remaining=5|sub:stars %}
                {% for _ in ''|center:remaining %}
                    <i class="bi bi-star text-dark"></i>
                {% endfor %}
            {% endwith %}
            {% for _ in ''|center:stars %}
                <i class="bi bi-star text-warning"></i>
            {% endfor %}
        {% endwith %}
    </div>
    <!-- Product price-->
    {% if product.is_available %}
        {% if product.is_on_sale %}
            <div class="product-price" style="display: flex;">
                <span class="w-100 text-start">{{ product.sale_price | intcomma }} تومان</span>
                <del class="w-100 text-end">
                    <span style="text-decoration: line-through;">{{ product.price|intcomma:False }}
                        تومان </span> <br></del>
            </div>
        {% else %}
            <div class="product-price d-flex">
                <span class="w-100 text-start">{{ product.price|intcomma:False }} تومان</span>
            </div>
        {% endif %}
    {% else %}
        <span class="text-danger h5">ناموجود</span>
    {% endif %}
</div>
{% if not remove_div %}
    </div>
{% endif %}