{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

    <section>
        <br>
        <br>
        <div class="container">
            <div class="page-body bg-white p-3 rounded">
                <div class="row">
                    <div class="col-md-6">
                        <div class="purchase-table ">

                            <table class="table">
                                <tr>
                                    <td>ردیف</td>
                                    <td>نام محصول</td>
                                    <td>تصویر</td>
                                    <td>تعداد</td>
                                    <td>قیمت کل</td>
                                </tr>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!--@formatter:off-->
                                        <td>{{ item.product.name }}{% if item.weight %} {{ item.weight|intcomma:False }}{% endif %}</td>
                                        <!--@formatter:on-->
                                        <td>
                                            <img src="{{ item.product.default_image.image.url }}"
                                                 alt="{{ item.product.name }}">
                                        </td>
                                        <td>{{ item.quantity|intcomma:False }}</td>
                                        <td>{{ item.total_price|intcomma:False }} تومان</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <div >
                        <table >
                            <tr >
                                <th>هزینه حمل و نقل : </th>
                                <th><input type="hidden"  ><label>  <span><bdi>{{ freight_cost|intcomma:False }}<span> تومان </span></bdi></span></label>
                                </th>
                                <td >
                                    <ul >
                                        <li>
                                            <input type="hidden"  ><label>  <span><bdi>{{ freight_cost|intcomma:False }}<span> تومان </span></bdi></span></label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block my-3">اطلاعات تحویل مرسوله</span>
                        <div class="purchase-address-profile-content p-3 mt-3 border rounded">
                            <div id="address_display">
                                {% if request.user.is_authenticated %}
                                    <h5 class="m-3 p-2 border-bottom">انتخاب آدرس ذخیره شده</h5>
                                    {% if addresses %}
                                        <div class="p-3 mt-3 border rounded">
                                            <table class="table text-center">
                                                <tr>
                                                    <td>استان</td>
                                                    <td>شهر</td>
                                                    <td>کد پستی</td>
                                                    <td>شماره تلفن</td>
                                                    <td>آدرس</td>
                                                </tr>
                                                {% for address in addresses %}
                                                    <tr>
                                                        <td id="{{ forloop.counter }}">{{ address.district }}</td>
                                                        <td>{{ address.city }}</td>
                                                        <td>{{ address.postal_code }}</td>
                                                        <td>{{ address.delivery_phone_number }}</td>
                                                        <td>{{ address.address }}</td>
                                                        <td>
                                                            <input type="radio" id="address{{ address.id }}"
                                                                   name="address">
                                                            <script>
                                                                document.getElementById('address{{ address.id }}').addEventListener('change', function () {
                                                                    document.getElementById('final_state').value = "{{ address.district }}"
                                                                    document.getElementById('final_city').value = "{{ address.city }}"
                                                                    document.getElementById('final_address').value = "{{ address.address }}"
                                                                    document.getElementById('final_postal_code').value = "{{ address.postal_code }}"
                                                                    document.getElementById('final_mobile').value = "{{ address.delivery_phone_number }}"
                                                                });
                                                            </script>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>

                                    {% else %}
                                        <div class="alert alert-danger">
                                            شما آدرسی ثبت نکرده اید
                                        </div>
                                    {% endif %}
                                {% else %}

                                {% endif %}
                            </div>
                            {% if request.user.is_authenticated %}
                                <a class="btn btn-outline-dark" data-bs-toggle="collapse"
                                   style="margin-inline-start: 40%;"
                                   href="#collapseExample"
                                   role="button" aria-expanded="false" aria-controls="collapseExample">
                                    اضافه کردن آدرس
                                </a>
                            {% endif %}
                            <div class="collapse" id="collapseExample">
                                <h5 class="m-3 p-2 border-bottom heading">
                                    <form class="global-form" action="{% url 'add_address' %}" method="post">
                                        {% csrf_token %}
                                        <select id="state" onChange="iranwebsv(this.value);" required>
                                            <option value="" disabled selected hidden>لطفا استان را انتخاب نمایید
                                            </option>
                                            <option value="1">تهران</option>
                                            <option value="2">گیلان</option>
                                            <option value="3">آذربایجان شرقی</option>
                                            <option value="4">خوزستان</option>
                                            <option value="5">فارس</option>
                                            <option value="6">اصفهان</option>
                                            <option value="7">خراسان رضوی</option>
                                            <option value="8">قزوین</option>
                                            <option value="9">سمنان</option>
                                            <option value="10">قم</option>
                                            <option value="11">مرکزی</option>
                                            <option value="12">زنجان</option>
                                            <option value="13">مازندران</option>
                                            <option value="14">گلستان</option>
                                            <option value="15">اردبیل</option>
                                            <option value="16">آذربایجان غربی</option>
                                            <option value="17">همدان</option>
                                            <option value="18">کردستان</option>
                                            <option value="19">کرمانشاه</option>
                                            <option value="20">لرستان</option>
                                            <option value="21">بوشهر</option>
                                            <option value="22">کرمان</option>
                                            <option value="23">هرمزگان</option>
                                            <option value="24">چهارمحال و بختیاری</option>
                                            <option value="25">یزد</option>
                                            <option value="26">سیستان و بلوچستان</option>
                                            <option value="27">ایلام</option>
                                            <option value="28">کهگلویه و بویراحمد</option>
                                            <option value="29">خراسان شمالی</option>
                                            <option value="30">خراسان جنوبی</option>
                                            <option value="31">البرز</option>
                                        </select>
                                        <select id="city" required>
                                            <option value="" disabled selected hidden>لطفا شهرستان را انتخاب نمایید
                                            </option>
                                        </select>
                                        <input id="selectedState" type="hidden" name="state">
                                        <input id="selectedCity" type="hidden" name="city">
                                        <input type="text" name="address" id="address"
                                               placeholder="آدرس دقیق را وارد کنید" required>
                                        <input type="number" name="postal_code" id="postal_code"
                                               placeholder="کد پستی را وارد کنید" required>
                                        <input type="tel" name="mobile" id="mobile"
                                               placeholder="شماره موبایل را وارد کنید" required>
                                        <input class="rounded" type="submit" value="افزودن" onClick="showAddress()">
                                    </form>
                                    <script>
                                        document.getElementById('state').addEventListener('change', function () {
                                            // Option 1: Set the text as the value of a hidden input
                                            document.getElementById('selectedState').value =
                                                this.options[this.selectedIndex].text;
                                        });
                                        document.getElementById('city').addEventListener('change', function () {
                                            // Option 1: Set the text as the value of a hidden input
                                            document.getElementById('selectedCity').value =
                                                this.options[this.selectedIndex].text;
                                        });
                                    </script>
                                </h5>
                            </div>
                        </div>
                        <h5 class="m-3 p-2 border-bottom heading">آدرس</h5>
                        <form class="global-form" action="{% url 'payment_redirect' %}" method="post"
                              style="display: flex; flex-direction: row; flex-wrap: wrap">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <input type="text" name="full_name" placeholder="نام و نام خانوادگی را وارد کنید"
                                   value="{% if user.is_authenticated %}{{ customer.full_name }}{% endif %}"
                                   style="width: max-content; margin: auto">
                            <input type="text" required name="state" id="final_state" value="{{ order.district }}"
                                   placeholder="استان را وارد کنید" style="width: max-content; margin: auto">
                            <input type="text" required name="city" id="final_city" value="{{ order.city }}"
                                   placeholder="شهر را وارد کنید" style="width: max-content; margin: auto">
                            <input type="text" required name="address" id="final_address"
                                   value="{{ order.address_text }}" placeholder="آدرس دقیق را وارد کنید">
                            <input type="text" required name="postal_code" id="final_postal_code"
                                   value="{{ order.postal_code }}" placeholder="کد پستی را وارد کنید">
                            <input type="text" required name="mobile" id="final_mobile"
                                   value="{{ order.delivery_phone_number }}" placeholder="شماره موبایل را وارد کنید">
                            <textarea type="text" name="additional_info" value="{{ order.additional_info }}"
                                      placeholder="توضیحات اضافی"></textarea>
                            <div class="purchase-note bg-light p-3 rounded mt-3" style="width: 100%;">
                                <label class="form-check-label" for="flexCheckChecked">
                                    <input id="rulesCheckBox" class="form-check-input" type="checkbox">
                                </label>
                                پذیرش <a href="{% url 'rules' %}" target="_blank">قوانین</a> سایت
                            </div>
                            <button disabled="disabled" id="submit_button"
                                    class="btn btn-dark">{{ sub_total|intcomma:False }} تومان - پرداخت
                                انلاین
                            </button>
                        </form>
                        <script>
                            document.getElementById('rulesCheckBox').addEventListener('change', function () {
                                if (this.checked) {
                                    let submitButton = document.getElementById('submit_button');
                                    submitButton.removeAttribute('disabled');
                                    submitButton.classList.remove('btn-dark');
                                    submitButton.classList.add('bg-danger');
                                } else {
                                    let submitButton = document.getElementById('submit_button');
                                    submitButton.disabled = true;
                                    submitButton.classList.add('btn-dark');
                                    submitButton.classList.remove('bg-danger');
                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
