{% load mathfilters %}
{% load shop_tags %}
{% load static %}
{% for review in replies %}
    <div class="review-parent ms-5 mb-3">
        <div class="row border-start">
            <div class="col-10">
                <span class="d-inline-block pe-5">{{ review.author.full_name }}</span>
                <span class="d-inline-block pe-5">
                {% if review.rating %}
                    {% with review.rating as stars %}
                        {% with remaining=5|sub:stars %}
                            {% for _ in ''|center:remaining %}
                                <i class="bi bi-star text-dark"></i>
                            {% endfor %}
                        {% endwith %}
                        {% for _ in ''|center:stars %}
                            <i class="bi bi-star text-warning"></i>
                        {% endfor %}
                    {% endwith %}
                {% endif %}
            </span>
                <p>{{ review.content }}</p>
                <div id="comment-{{ review.id }}" class="comment">
                    <button onclick="replyComment('{{ review.id }}', '{% url 'product_review' product.slug %}', '{{ csrf_token }}')"
                            id="reply-btn-{{ review.id }}"
                            class="bi bi-reply-fill p-2 mb-2 reply-button">
                        &nbsp;پاسخ
                    </button>
                </div>
            </div>
        </div>
        {% review_reply_widget review product %}
    </div>
{% endfor %}
