{% load mathfilters %}
{% load shop_tags %}
{% load static %}
{% for review in replies %}
    <div class="review-parent ms-5 mb-3">
        <div class="row">
            <div class="col-2">
                <div class="review-avatar">
                    <img src="{% static 'img/default_pfp.png' %}" alt="avatar">
                </div>
            </div>
            <div class="col-10">
                <span class="d-inline-block pe-5">{{ review.author.full_name }}</span>
                <span class="d-inline-block pe-5">
                {% if review.rating %}
                    {% with review.rating as stars %}
                        {% with remaining=5|sub:stars %}
                            {% for _ in ''|center:remaining %}
                                <i class="bi bi-star text-dark"></i>
                            {% endfor %}
                        {% endwith %}
                        {% for _ in ''|center:stars %}
                            <i class="bi bi-star text-warning"></i>
                        {% endfor %}
                    {% endwith %}
                {% endif %}
            </span>
                <p>{{ review.content }}</p>
            </div>
        </div>
        {% review_reply_widget review %}
    </div>
{% endfor %}
