{% load static %}
<!doctype html>
<html lang="fa" DIR="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">

    {% if login_page %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-login-register.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endif %}
    <title>{{ site_info.site_name }}</title>
</head>
<header class="{% if not index and not login_page %}mb-5{% else %}mb-4{% endif %}">
    <nav class="navbar navbar-expand-lg p-3 top-menu">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{{ site_info.logo_image.url }}" alt="{{ site_info.site_name }}"
                                                  style="height: 50px; max-width: 60px"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-light"
                           style="font-size: 1.1em;opacity: 100%;" href="{% url 'home' %}">خانه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-light" style="font-size: 1.1em;opacity: 100%;"
                           href="{% url 'browse' %}">فروشگاه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-light" style="font-size: 1.1em;opacity: 100%;"
                           href="{% url 'contact' %}">تماس
                            با ما</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-light"
                           style="font-size: 1.1em;opacity: 100%;" href="{% url 'cart' %}"><i
                                style="font-size: 1.2em;"
                                class="bi-cart-fill"></i> سبد خرید</a>
                    </li>
                    <li class="nav-item">
                        <!--@formatter:off-->
                        <a class="nav-link mx-2 text-light"
                           style="font-size: 1.1em;opacity: 100%;" href="{% url 'profile_info' %}"><i
                                style="font-size: 1.2em;"
                                class="bi-person-circle"></i> {% if user_name %}{{ user_name }}{% else %}ورود یا ثبت نام{% endif %} </a>
                        <!--@formatter:on-->
                    </li>
                    <li class="nav-item">
                        <div class="ms-auto d-none d-lg-block">
                            <div class="input-group">
                                <form class="search-bar" action="{% url 'browse' %}" method="get">
                                    <input type="text" name="search" class="form-control form-text"
                                           placeholder="جستجوی محصول">
                                    <button type="submit" class="btn navbar-btn text-light"><i class="bi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
                            <div class="input-group">
                                <form class="search-bar" action="{% url 'browse' %}" method="get">
                                    <input type="text" name="search" class="form-control form-text">
                                    <button type="submit" class="btn navbar-btn text-light"><i class="bi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<div class="top-0 end-0 p-3">
    <div id="alert-toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div id="alert_header" class="toast-header">
            <strong class="me-auto">پیغام</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>
<div class="header-gap"></div>
{% block content %}


{% endblock content %}
<footer class="py-4 mt-5 position-relative">
    <span class="scrooltop position-absolute" onclick="topFunction()"></span>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-menu">
                    <ul class="p-0 my-3 text-center">
                        <li><a href="{% url 'rules' %}">قوانین</a></li>
                        <li><a href="{% url 'contact' %}">تماس با ما</a></li>
                        <li><a href="{% url 'about' %}">در باره ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-box">
                    <span class="title py-3 pb-4 d-block position-relative">تماس با ما</span>
                    <ul class="p-0">
                        <li class="d-block w-100 py-2">
                            <span><i
                                    class="bi bi-telephone-inbound"></i>&nbsp;{{ contact_us.phone_number_field }}</span>
                        </li>
{#                        <li class="d-block w-100 py-2">#}
{#                            <span><i class="bi bi-geo-alt"></i>&nbsp;{{ contact_us.address_field }}</span>#}
{#                        </li>#}
                        <li class="d-block w-100 py-2">
                            <span><i class="bi bi-envelope-at"></i>&nbsp;{{ contact_us.contact_email }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-box text-center">
                    <span class="title py-3 pb-4 d-block position-relative">همراه ما باشید</span>
                    <ul class="p-0 social-ul">
{#                        {% for link in links %}#}
{#                            <li class="d-inline-block m-1">#}
{#                                <a href="{{ link.link_address }}" class="d-inline-block p-2">#}
{#                                    {% if link.name == 'Instagram' %}#}
{#                                        <i class="bi bi-instagram"></i>#}
{#                                    {% elif link.name == 'LinkedIn' %}#}
{#                                        <i class="bi bi-linkedin"></i>#}
{#                                    {% elif link.name == 'Twitter' %}#}
{#                                        <i class="bi bi-twitter"></i>#}
{#                                    {% elif link.name == 'Telegram' %}#}
{#                                        <i class="bi bi-telegram"></i>#}
{#                                    {% elif link.name == 'WhatsApp' %}#}
{#                                        <i class="bi bi-whatsapp"></i>#}
{#                                    {% endif %}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endfor %}#}
                        {% for symbol in symbols %}
                            <a class="logo-footer" referrerpolicy="origin" rel="nofollow" target="_blank"
                               href="{% if not 'https://' in symbol.link and not 'http://' in symbol.link %}https://{% endif %}{{ symbol.link }}">
                                <!--@formatter:off-->
                                <img referrerpolicy="origin" width="78px" height="82px" src="{% if symbol.image %}{{ symbol.image.url }}{% else %}{{ symbol.image_url }}{% endif %}"
                                     alt="{{ symbol.name }}"
                                     style="cursor:pointer">
                                <!--@formatter:on-->
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-box">
                    <span class="title py-3 pb-4 d-block position-relative">{{ site_info.site_name }}</span>
                    {{ site_info.introduction_text|safe }}
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.simple.timer.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'js/fancybox.umd.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

</body>
</html>