{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="page-body bg-white p-3 rounded">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-text p-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title d-block my-5">تلفن ها</span>
                                    <p class="d-block my-3"><i
                                            class="bi bi-telephone">&nbsp;</i>{{ info.phone_number_field|safe }}</p>

                                </div>
                                <div class="col-md-6">
                                    <span class="title d-block my-5">ایمیل</span>
                                    <p class="d-block my-3"><i
                                            class="bi bi-envelope">&nbsp;</i></p>
                                    {{ info.contact_email }}
                                </div>
                                <div class="col-md-6">
                                    <span class="title d-block my-5">آدرس ها</span>
                                    <span class="d-block my-3"><i
                                            class="bi bi-geo-alt">&nbsp;</i></span>
                                    {{ info.addresses_field }}
                                </div>
                                <div class="col-md-6">
                                    <span class="title d-block my-5">شبکه های اجتماعی ما</span>
                                    {% for link in links %}
                                        <li class="d-inline-block m-1">
                                            <a href="{% if not 'https://' in link.link_address and not 'http://' in link.link_address %}https://{% endif %}{{ link.link_address }}"
                                               target="_blank" class="d-inline-block text-info">
                                                {% if link.name == 'Instagram' or link.name == 'instagram' or link.name == 'insta' %}
                                                  <a href="{{ link.link_address }}"><i class="bi bi-instagram"></i></a>
<!--                                                {% if link.name %}{{ link.name }}{% else %}-->
<!--                                                    {{ link.link_address }}{% endif %}-->
                                            </a>
                                        </li>
                                        <br>
                                    {% endfor %}
                                </div>
                                <div class="border-top" style="margin-top: 20px; padding-top: 10px;">
                                    <p>
                                        {{ info.extra_info }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-review-form bg-white rounded p-3 mt-3">
                            <h5 class="border-bottom">ارسال پیام</h5>
                            <form class="global-form" action="{% url 'contact_message' %}" method="post">
                                {% csrf_token %}
                                <input class="rounded" type="text" required="true" name="name"
                                       placeholder="نام شما (الزامی)">
                                <input class="rounded" type="email" name="email" placeholder="ایمیل شما (الزامی)">
                                <textarea class="rounded" name="message" placeholder="پیام شما ..."></textarea>
                                <button type="submit" class="rounded">ارسال</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}